-
  var peopleList = [
      {
        name: "Ioana",
        age: 18
      },
      {
        name: "Maria",
        age: 23
      },
      {
        name: "Andreea",
        age: 5
      },
  ]
table(border=1)
  thead
    tr 
      td Name 
      td Age 
  tbody 
    each people in peopleList
      tr 
        td= people.name 
        td= people.age  
